@font-face {
  font-family: "Sans Serif For QR";
  src: local("Roboto"),
    url("./../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Serif For QR";
  src: local("Roboto Slab"),
    url("./../assets/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monospace For QR";
  src: local("Roboto Mono"),
    url("./../assets/fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Handwriting For QR";
  src: local("Dancing Script"),
    url("./../assets/fonts/DancingScript-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.qrcode-svg {
  width: 100%;
  height: auto;
}

.qrcode-text-style {
  font-weight: bold;
  fill: #ffffff;
  line-height: 1.25;
}

.serif {
  font-family: "Serif For QR";
  font-size: 16px;
}

.sans-serif {
  font-family: "Sans Serif For QR";
  font-size: 16px;
}

.monospace {
  font-family: "Monospace For QR";
  font-size: 16px;
}

.handwriting {
  font-family: "Handwriting For QR";
  font-size: 20px;
}
